<section id="recettes" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Toutes Nos Recettes</h2>
      <div class="row g-4">
        
        <!-- Recette 1 -->
        <div class="col-md-6 col-lg-4" *ngFor="let recipe of recipes">
          <div class="card h-100 shadow-sm">
            <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" class="card-img-top" alt="Pizza Margherita">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.strMeal  }}</h5>
              <a routerLink="/recipe" class="btn btn-success">Voir la recette</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
