<section id="categories" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Nos Catégories de Recettes</h2>
      <div class="row g-4">
        
        <!-- Catégorie 1 -->
        <div class="col-md-6 col-lg-3">
          <div class="card h-100 shadow-sm">
            <img src="https://images.pexels.com/photos/46239/salmon-dish-food-meal-46239.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Plats principaux">
            <div class="card-body text-center">
              <h5 class="card-title">Plats Principaux</h5>
              <a routerLink="/recipe" class="btn btn-outline-success">Voir Recettes</a>
            </div>
          </div>
        </div>
  
        <!-- Catégorie 2 -->
        <div class="col-md-6 col-lg-3">
          <div class="card h-100 shadow-sm">
            <img src="https://img.freepik.com/photos-gratuite/gros-plan-plateau-plein-delicieux-desserts-gelee-saveurs-framboise-chocolat-creme-fouettee-baies-chocolat-cacao-tiramisu-recette-cuisine-cusine-cuisine-fete-bonbons-buffet_7502-5859.jpg?uid=R139517440&ga=GA1.1.879192502.1737366145&semt=ais_hybrid&w=740" class="card-img-top" alt="Desserts">
            <div class="card-body text-center">
              <h5 class="card-title">Desserts</h5>
              <a class="btn btn-outline-success" routerLink="/recipe" routerLinkActive="router-link-active" >Voir Recettes</a>
            </div>
          </div>
        </div>
  
        <!-- Catégorie 3 -->
        <div class="col-md-6 col-lg-3">
          <div class="card h-100 shadow-sm">
            <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Vegan">
            <div class="card-body text-center">
              <h5 class="card-title">Vegan</h5>
              <a href="#" class="btn btn-outline-success">Voir Recettes</a>
            </div>
          </div>
        </div>
  
        <!-- Catégorie 4 -->
        <div class="col-md-6 col-lg-3">
          <div class="card h-100 shadow-sm">
            <img src="https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Sans Gluten">
            <div class="card-body text-center">
              <h5 class="card-title">Sans Gluten</h5>
              <a href="#" class="btn btn-outline-success">Voir Recettes</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
